.connect-button {
  width: 150px;
  padding: 6px 16px;
  background: linear-gradient(134.38deg, #f539f8 0%, #c342f9 43.55%, #5356fb 104.51%);
  border-radius: 37px;
  text-transform: uppercase;
  color: var(--color-white);
  height: 41px;
  width: 149px;
  left: 61px;
  top: 329px;
  border-radius: 37px;
  padding: 12px 16px 12px 16px;
  line-height: 18px;
}
